body{
    background-color: #f0f0f0;
}

a{
    text-decoration: none;
    color: black;
}

.cor_botao_email{
    background-color: #ebebeb;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
   
}

.cor_botao_email:hover {
    background-color: rgb(173, 172, 172); 
    color: white
}

.cor_botao_email:active {
    background-color:rgb(173, 172, 172);
    box-shadow: 0 2px black;
    transform: translateY(2px);
  }


.cor_input{
    background-color: #ebebeb;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
   
}

.cor_input:hover {
    background-color: green; 
    color: white
}

.cor_input:active {
    background-color:green;
    box-shadow: 0 2px black;
    transform: translateY(2px);
  }